@page
@model TravelWebProject.web.Pages.BookingPage.bookingFormModel
@{
}


<main>
    <!-- breadcrumb area start -->
    <section class="bd-breadcrumb-area p-relative fix">
        <!-- breadcrumb background image -->
        <div class="bd-breadcrumb-bg" data-background="~/assets/images/bg/breadcrumb-bg.png"></div>
        <div class="bd-breadcrumb-wrapper p-relative">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Booking Form</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a href="index.html"><i class="icon-home"></i>Tourigo</a></span>
                                    <span>Booking Form</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- booking-form area start -->
    <section class="bd-booking-form-area section-space">
        <div class="container">
            <div class="row gy-24 justify-content-between">
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <form method="post">
                        <div class="booking-form">
                            <div class="booking-form-wrapper mb-35">
                                <div class="booking-form-step mb-10">Step 1 of 2</div>
                                <h4 class="booking-form-title mb-15">Island Hopping in the Caribbean: Sun & Sea</h4>
                                <div class="booking-form-input-wrapper">
                                    <div class="booking-form-input-box">
                                        <div class="booking-form-input-title">
                                            <label asp-for="User.Username">Name<span>*</span></label>
                                        </div>
                                        <div class="booking-form-input">
                                            <input asp-for="User.Username" readonly required placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="booking-form-input-box">
                                        <div class="booking-form-input-title">
                                            <label asp-for="User.Email">Email address<span>*</span></label>
                                        </div>
                                        <div class="booking-form-input">
                                            <input asp-for="User.Email" readonly type="email" required placeholder="Email address">
                                        </div>
                                    </div>
                                    <div class="booking-form-input-box">
                                        <div class="booking-form-input-title">
                                            <label asp-for="User.Phone">Mobile Number<span>*</span></label>
                                        </div>
                                        <div class="booking-form-input">
                                            <input asp-for="User.Phone" required readonly placeholder="Mobile Number">
                                        </div>
                                    </div>
                                    <div class="booking-form-input-box">
                                        <div class="booking-form-input-title">
                                        </div>
                                        <div class="booking-form-input">
                                            <label asp-for="amountOfPeople">PEOPLE<span>*</span></label>
                                            <td class="bd-cart-quantity">
                                                <div class="bd-product-quantity mt-10 mb-10">
                                                    <span class="bd-cart-minus">
                                                        <svg width="10" height="2" viewBox="0 0 10 2" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1 1H9" stroke="currentColor" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </span>
                                                    <input asp-for="amountOfPeople" class="bd-cart-input" required type="text" value="1">
                                                    <span class="bd-cart-plus">
                                                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5 1V9" stroke="currentColor" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M1 5H9" stroke="currentColor" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </td>
                                        </div>
                                        
                                           
                                        <div class="booking-form-input">
                                            <input hidden asp-for="Tour.TotalCost" type="number" >
                                        </div>
                                        <div class="booking-form-input">
                                            <input hidden asp-for="Tour.StartDate" type="datetime">
                                        </div>
                                        <div class="booking-form-input">
                                            <input hidden asp-for="Tour.TourId" type="number">
                                        </div>
                                        <div class="booking-form-input">
                                            <input hidden asp-for="User.UserId" type="number">
                                        </div>
                                     
                                    </div>
                                    <div class="booking-form-info mt-25">
                                    </div>
                                </div>
                                <div class="booking-form-policy mb-25">
                                    <h5 class="booking-form-title mb-15">Cancellation policy</h5>
                                    <p class="mb-10">
                                        "By clicking 'Payment details' and finalizing your booking, you
                                        are agreeing to the <a class="theme-text" href="#">Terms and Conditions</a> set forth by tourigo.com and the privacy policy of Viator."
                                    </p>
                                    <span>
                                        <a class="theme-text" href="#">Privacy Statement</a>
                                    </span>

                                </div>
                                <div class="booking-form-btn">
                                    <button type="submit" class="bd-primary-btn btn-style is-bg radius-60">
                                        <span class="bd-primary-btn-text">Complete booking</span>
                                        <span class="bd-primary-btn-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <aside class="booking-sidebar-wrapper sidebar-sticky">
                        <div class="booking-sidebar-widget-wrapper mb-30">
                            <div class="booking-sidebar-widget-thumb mb-15">
                                <img src="~/assets/images/tour/@Model.Tour.Destinate.Image" alt="images">
                            </div>
                            <div class="booking-sidebar-widget-content">
                                <h6 class="booking-item-title small underline mb-5">
                                    @Model.Tour.TourName
                                </h6>
                                <p>@Model.Tour.Description</p>
                               <div> <span class="booking-item-date">
                                    <label>StartDate</label>
                                    <a href="#">
                                        <span><i class="icon-cleander-check"></i></span>@Model.Tour.StartDate
                                    </a>
                                </span>
                                </div>
                                <div>
                                <span class="booking-item-date">
                                    <label>EndDate</label>
                                    <a href="#">
                                        <span><i class="icon-cleander-check"></i></span>@Model.Tour.EndDate
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="booking-sidebar-widget-wrapper">
                            <div class="booking-sidebar-price-wrapper">

                                <div class="booking-sidebar-price-content">

                                    <div class="booking-sidebar-price-item d-flex flex-wrap justify-content-between">
                                      
                                        <div class="booking-sidebar-price-item-title">Price</div>
                                        <div class="booking-sidebar-price-item-title">amount </div>
                                        <div class="booking-sidebar-price-item-amount">$@Model.Tour.TotalCost</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- booking-form area end -->

   
</main>


<!-- Mirrored from html.bdevs.net/tourigo-prv/booking.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Apr 2024 13:37:01 GMT -->



