@page
@model TravelWebProject.web.Pages.ForgotPassword
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    <div class="pt-50"></div>
    @{
        var alertMessage = TempData["AlertMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(alertMessage))
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@Html.Raw(alertMessage)");
            };
        </script>
    }

    <!-- forgot area start -->
    <section class="bd-forgot-area section-space">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-5">
                    <div class="sign-form-wrapper text-center">
                        <h4 class="title mb-5">Forgot your Password?</h4>
                        <p>Enter your email address to request password reset</p>
                        <form class="form" method="post">
                            <div class="input-box mb-15">
                                <input type="email" asp-for="Email" class="input" placeholder="Email Address">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="sign-btn mb-20">
                                <button type="submit" class="bd-primary-btn btn-style is-bg radius-60">
                                    <span class="bd-primary-btn-text">Continue</span>
                                    <span class="bd-primary-btn-circle"></span>
                                </button>
                            </div>
                            <div class="alert alert-info" role="alert">
                                <p>Already have an account? <a href="/SignIn">Login</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- forgot area end -->

</main>