@page
@model TravelWebProject.web.Pages.LandingPage
@{
    ViewData["Title"] = "LandingPage";
}

<h1>@ViewData["Title"]</h1>

<main>

        <!-- demo banner area start -->
        <div class="bd-demo-banner-area position-relative fix"
            data-background="assets/images/landing-page/index-bg.png">
            <div class="container">
                <div class="banner-shape demo-banner-shape">
                    <div class="banner-shape-one">
                        <img src="assets/images/shapes/sun.png" alt="image">
                    </div>
                    <div class="banner-shape-two">
                        <img src="assets/images/shapes/sky.png" alt="image">
                    </div>
                    <div class="banner-shape-six">
                        <img src="assets/images/shapes/plane.png" alt="image">
                    </div>
                    <div class="banner-shape-eight">
                        <img src="assets/images/shapes/dot-square.png" alt="image">
                    </div>
                </div>
                <div class="row gy-5 align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="bd-demo-banner-content">
                            <div class="demo-banner-top-inner wow fadeInUp" data-wow-delay=".3s">
                                <div class="demo-banner-top">
                                    <div class="bd-icon">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="content">
                                        <span class="subtitle">8750+ Trust Customer</span>
                                    </div>
                                </div>
                                <div class="demo-banner-top">
                                    <div class="icon">
                                        <img src="assets/images/landing-page/banner/award.png" alt="image">
                                    </div>
                                    <div class="content">
                                        <span class="subtitle">#1 Top New theme</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content wow fadeInUp" data-wow-delay=".4s">
                                <h1 class="demo-banner-title mb-15">Tourigo - Tour & Travel Bootstrap5 Template</h1>
                                <p>Embark on a seamless voyage into the world of travel with Tourigo, a cutting-edge
                                    Tour &
                                    Travel Bootstrap 5 Template that elevates your website to new heights. Crafted with
                                    precision
                                    and designed for versatility, Tourigo is your passport to creating a stunning online
                                    presence
                                    for your travel agency, tour operator, or any travel-related business.</p>
                            </div>
                            <div class="demo-banner-btn smooth mt-30 wow fadeInUp" data-wow-delay=".6s">
                                <a href="#homesDemos" class="bd-primary-btn btn-style has-arrow is-bg radius-60">
                                    <span class="bd-primary-btn-arrow arrow-right"><i
                                            class="fa-regular fa-arrow-right"></i></span>
                                    <span class="bd-primary-btn-text">See Live Demos</span>
                                    <span class="bd-primary-btn-circle"></span>
                                    <span class="bd-primary-btn-arrow arrow-left"><i
                                            class="fa-regular fa-arrow-right"></i></span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="demo-banner-thumb-wrapper position-relative z-index-5">
                            <div class="thumbnail wow fadeInRight" data-wow-delay=".3s">
                                <img src="assets/images/landing-page/banner/laptop.png" alt="image">
                            </div>
                            <div class="mobile-thumb wow fadeInUp" data-wow-delay=".5s">
                                <img src="assets/images/landing-page/banner/mobile.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area  -->

        <!-- Start Demo Presentation area  -->
        <div id="homesDemos" class="home-demo-area splash-masonary-wrapper-activatio section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="section-title-wrapper text-center section-title-space">
                            <span class="section-subtitle mb-10">Demos Pages</span>
                            <h2 class="section-title"><strong>5</strong> Wonderful Top Quality Demos Pages</h2>
                        </div>
                    </div>
                </div>
                <div class="home-page-demo">
                    <div class="row gy-24 justify-content-center">
                        <div class="item col-xxl-4 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <a target="_blank" href="home.html">
                                <div class="thumbnail">
                                    <img src="assets/images/landing-page/demo-present/home-1.png" alt="home">
                                </div>
                                <div class="content">
                                    <h6 class="title">Home Page One</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item col-xxl-4 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
                            <a target="_blank" href="home-two.html">
                                <div class="thumbnail">
                                    <img src="assets/images/landing-page/demo-present/home-2.png" alt="home">
                                </div>
                                <div class="content">
                                    <h6 class="title">Home Page Two</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item col-xxl-4 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <a target="_blank" href="home-three.html">
                                <div class="thumbnail">
                                    <img src="assets/images/landing-page/demo-present/home-3.png" alt="home">
                                </div>
                                <div class="content">
                                    <h6 class="title">Home Page Three</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item col-xxl-4 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="250">
                            <a target="_blank" href="home-four.html">
                                <div class="thumbnail">
                                    <img src="assets/images/landing-page/demo-present/home-4.png" alt="home">
                                </div>
                                <div class="content">
                                    <h6 class="title">Home Page Four</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item col-xxl-4 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <a target="_blank" href="home-five.html">
                                <div class="thumbnail">
                                    <img src="assets/images/landing-page/demo-present/home-5.png" alt="home">
                                </div>
                                <div class="content">
                                    <h6 class="title">Home Page Five</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item col-xxl-4 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="350">
                            <a href="#" class="coming-soon">
                                <div class="thumbnail">
                                    <img src="assets/images/landing-page/demo-present/home-6.png" alt="home">
                                </div>
                                <div class="content">
                                    <h6 class="title">5 New Home Coming Soon</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Demo Presentation area  -->

        <!-- Start inner page Showcases area  -->
        <div class="inner-page-presentation-area section-space theme-bg-secondary">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div class="section-title-wrapper text-center section-title-space">
                            <span class="section-subtitle text-warning mb-10">Tourigo Inner Pages</span>
                            <h2 class="section-title white-text">48+ Awesome Inner Pages</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="demo-wrapper inner-pages-wrapper">
                            <div class="row inner-pages-animation">
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="about.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/about.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">About</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="booking.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/booking-form.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Booking Form</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="blog-details-right.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/blog-details-right.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Blog Details</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="blog-grid-right.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/blog-grid.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Blog Grid</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="blog-list.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/blog-list-right.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Blog Standard</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="tour-grid-right.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/tour-grid-right.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Tour Grid</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="tour-details-right.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/tour-details-right.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Tour Details</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank"
                                                href="destinations-grid-right.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/destinations-grid-right.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Destinations Grid</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank"
                                                href="destinations-details-right.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/destinations-details-right.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Destinations Details</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="tour-listing.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/tour-listing.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Tour List</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                            </div>
                            <div class="row mt-30 inner-pages-animation inner-pages-animation--2">

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="sign-up.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/sign-up.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Sign Up</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="sign-in.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/sign-in.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Sign In</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->
                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="contact.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/contact.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Contact</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="order.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/order.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Order</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="shop.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/shop.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Shop</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="wishlist.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/wishlist.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Wishlist</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="cart.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/cart.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Cart</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="checkout.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/checkout-.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Checkout</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="shop-details.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/shop-details.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Shop Details</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                                <!-- Start Solo Demo  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="demo-item">
                                        <div class="solo-demo">
                                            <a class="solo-demo-link" target="_blank" href="shop.html">
                                                <div class="thumbnail">
                                                    <img src="assets/images/landing-page/inner-page/shop.png"
                                                        alt="Home Image">
                                                </div>
                                                <div class="content text-center">
                                                    <h3 class="title">Shop</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solo Demo  -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End inner page Showcases area  -->

        <!-- Start Feature Area  -->
        <div class="feature-area landing-feature section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="section-title-wrapper text-center section-title-space">
                            <span class="section-subtitle mb-10">Top Feature</span>
                            <h2 class="section-title">Bundled with Popular Creative Features</h2>
                        </div>
                    </div>
                </div>
                <div class="row gy-24">
                    <div class="col-12">
                        <div class="features-wrapper">
                            <div class="features-item" data-aos="fade-up" data-aos-delay="100">
                                <div class="features-content">
                                    <div class="features-icon red-2">
                                        <img src="assets/images/landing-page/features/icon/html.png" alt="image">
                                    </div>
                                    <h4 class="features-title">HMTL5 Used</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag red-2">
                                    <span>W3C Validate</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="150">
                                <div class="features-content">
                                    <div class="features-icon green">
                                        <img src="assets/images/landing-page/features/icon/css.png" alt="image">
                                    </div>
                                    <h4 class="features-title">CSS 3 Used</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag green">
                                    <span>Advanced Version</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="features-content">
                                    <div class="features-icon purple">
                                        <img src="assets/images/landing-page/features/icon/bootstrap.png" alt="image">
                                    </div>
                                    <h4 class="features-title">Bootstrap framework</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag purple">
                                    <span>5.x Version</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="250">
                                <div class="features-content">
                                    <div class="features-icon lilac">
                                        <img src="assets/images/landing-page/features/icon/sass.png" alt="image">
                                    </div>
                                    <h4 class="features-title">SASS Used</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag lilac">
                                    <span>CSS with superpower</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="300">
                                <div class="features-content">
                                    <div class="features-icon lime">
                                        <img src="assets/images/landing-page/features/icon/google-fonts.png"
                                            alt="image">
                                    </div>
                                    <h4 class="features-title">Google Font Used</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag lime">
                                    <span>Supported Plugin</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="350">
                                <div class="features-content">
                                    <div class="features-icon green">
                                        <img src="assets/images/landing-page/features/icon/seo.png" alt="image">
                                    </div>
                                    <h4 class="features-title">SEO Optimized</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag green">
                                    <span>Best Result</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="400">
                                <div class="features-content">
                                    <div class="features-icon red">
                                        <img src="assets/images/landing-page/features/icon/speed.png" alt="image">
                                    </div>
                                    <h4 class="features-title">Speed Optimization</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag red">
                                    <span>Optimize speed</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="450">
                                <div class="features-content">
                                    <div class="features-icon green">
                                        <img src="assets/images/landing-page/features/icon/swiper.png" alt="image">
                                    </div>
                                    <h4 class="features-title">Swiperjs Slider</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag green">
                                    <span>Responsive Carousel</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="500">
                                <div class="features-content">
                                    <div class="features-icon red">
                                        <img src="assets/images/landing-page/features/icon/responsive.png" alt="image">
                                    </div>
                                    <h4 class="features-title">Fully Responsive</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag red">
                                    <span>Every device viewable</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="550">
                                <div class="features-content">
                                    <div class="features-icon lime">
                                        <img src="assets/images/landing-page/features/icon/magnific-popup.png"
                                            alt="image">
                                    </div>
                                    <h4 class="features-title">Magnific Popup</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag lime">
                                    <span>Lightbox & Dialog</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="600">
                                <div class="features-content">
                                    <div class="features-icon green-dark">
                                        <img src="assets/images/landing-page/features/icon/code.png" alt="image">
                                    </div>
                                    <h4 class="features-title">Standard Coding</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag green-dark">
                                    <span>W3C Validate Code</span>
                                </div>
                            </div>
                            <div class="features-item" data-aos="fade-up" data-aos-delay="650">
                                <div class="features-content">
                                    <div class="features-icon lime">
                                        <img src="assets/images/landing-page/features/icon/document.png" alt="image">
                                    </div>
                                    <h4 class="features-title">Well Documented</h4>
                                    <p>HTML5 offers multiple storage options, such as an SQL database, application
                                        cache, and web
                                        storage.</p>
                                </div>
                                <div class="features-tag lime">
                                    <span>View Document</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Feature Area  -->

        <!-- elements area start -->
        <section class="element-area fix section-space-bottom">
            <div class="bd-present-area">
                <div class="container-fluid">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-5">
                            <div class="section-title-wrapper text-center section-title-space">
                                <span class="section-subtitle mb-10">Top Elements</span>
                                <h2 class="section-title">200+ Premium elements</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row elements-category-list">
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-solid fa-people-group"></i>
                            Team
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-headset"></i>
                            Call To Action
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-brands fa-bandcamp"></i>
                            Brand
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-timer"></i>
                            Counter
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-badge-check"></i>
                            Badge
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Tour List
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-computer-mouse-scrollwheel"></i>
                            Button
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-envelope"></i>
                            Newsletter
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-table"></i>
                            Tab
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-table-cells"></i>
                            Footer
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-trophy"></i>
                            Trophy
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-headset"></i>
                            Call To Action
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Tour List
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-computer-mouse-scrollwheel"></i>
                            Button
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-table"></i>
                            Tab
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-headset"></i>
                            Call To Action
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Tour List
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-computer-mouse-scrollwheel"></i>
                            Button
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-table-cells"></i>
                            Footer
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-trophy"></i>
                            Trophy
                        </a>
                    </div>
                    <div class="row elements-category-list elements-category-list-2 mt-20">
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-solid fa-people-group"></i>
                            Team
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-headset"></i>
                            Call To Action
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-play"></i>
                            Video Popup
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-timer"></i>
                            Timeline
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-computer-mouse-scrollwheel"></i>
                            Animated Button
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-sharp fa-regular fa-rectangle-vertical-history"></i>
                            Destinations
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-sliders"></i>
                            Carousel Testimonial
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-brands fa-bandcamp"></i>
                            Brand
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-timer"></i>
                            Timeline
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-sharp fa-regular fa-rectangle-vertical-history"></i>
                            Destinations
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-computer-mouse-scrollwheel"></i>
                            Animated Button
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-sliders"></i>
                            Carousel Testimonial
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-brands fa-bandcamp"></i>
                            Brand
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-sharp fa-regular fa-rectangle-vertical-history"></i>
                            Destinations
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-timer"></i>
                            Timeline
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-computer-mouse-scrollwheel"></i>
                            Animated Button
                        </a>
                    </div>
                    <div class="row elements-category-list mt-20">
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Tour List
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Step Box
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-sharp fa-light fa-list"></i>
                            Accordion
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-ballot-check"></i>
                            Image Card
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-solid fa-user-tie"></i>
                            Portfolio
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Step Box
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-trophy"></i>
                            Trophy
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-sharp fa-light fa-list"></i>
                            Accordion
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-ballot-check"></i>
                            Image Card
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-solid fa-user-tie"></i>
                            Portfolio
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Step Box
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-sharp fa-light fa-list"></i>
                            Accordion
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-ballot-check"></i>
                            Image Card
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-solid fa-user-tie"></i>
                            Tour
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-table"></i>
                            Tab
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-headset"></i>
                            Call To Action
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-list"></i>
                            Tour List
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-light fa-computer-mouse-scrollwheel"></i>
                            Button
                        </a>
                        <a class="single-elements" href="javascript:void(0)">
                            <i class="fa-regular fa-trophy"></i>
                            Trophy
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- elements area end -->

        <!-- Review area start -->
        <div class="customer-review-area section-space-top">
            <div class="container">
                <div class="customer-review-title">
                    <div class="section-title-wrapper text-center">
                        <span class="section-subtitle mb-10">Customers review</span>
                        <h2 class="section-title">Our Satisfied Customers</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 overflow-hidden">
                        <div class="customer-review-wrapper">
                            <div class="customer-review-wrap">
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Customer Support</span></p>
                                        <p class="text">Nice product. This developer takes his work seriously and humble
                                            to give a
                                            support even if your support package expired!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Fjameel</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Design Quality</span></p>
                                        <p class="text">Nice product. This developer takes his work seriously and humble
                                            to give a
                                            support even if your support package expired!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Frankgstring</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Customer Support</span></p>
                                        <p class="text">Nice product. This developer takes his work seriously and humble
                                            to give a
                                            support even if your support package expired!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Fjameel</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Design Quality</span></p>
                                        <p class="text">Nice product. This developer takes his work seriously and humble
                                            to give a
                                            support even if your support package expired!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Frankgstring</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Customer Support</span></p>
                                        <p class="text">Nice product. This developer takes his work seriously and humble
                                            to give a
                                            support even if your support package expired!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Fjameel</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Design Quality</span></p>
                                        <p class="text">Nice product. This developer takes his work seriously and humble
                                            to give a
                                            support even if your support package expired!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Frankgstring</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-review-wrap">
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span> Design Quality</span></p>
                                        <p class="text">Just Wow, I like the design and their incredible support. I had
                                            some
                                            queries and
                                            the support team replied within just an hour. Thanks for quick reply.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Amaterasu1</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Customer Support</span></p>
                                        <p class="text">Excellent customer service! Got back right away and fixed my
                                            problem
                                            loading
                                            template!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Frankgstring</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Design Quality</span></p>
                                        <p class="text">This template is very nice and user-friendly. easily deploy each
                                            and
                                            everything
                                            which every component you wanted to use you can use because it's totally
                                            reusable.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> TauzMedia</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span> Design Quality</span></p>
                                        <p class="text">Just Wow, I like the design and their incredible support. I had
                                            some
                                            queries and
                                            the support team replied within just an hour. Thanks for quick reply.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Amaterasu1</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Customer Support</span></p>
                                        <p class="text">Excellent customer service! Got back right away and fixed my
                                            problem
                                            loading
                                            template!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Frankgstring</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Design Quality</span></p>
                                        <p class="text">This template is very nice and user-friendly. easily deploy each
                                            and
                                            everything
                                            which every component you wanted to use you can use because it's totally
                                            reusable.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> TauzMedia</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-review-wrap">
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span> Customizability</span></p>
                                        <p class="text">Great template! Beautiful design. Everything works great. The
                                            template is
                                            Beautiful, Customizable & Fantastic User Experience. Support is amazing:
                                            fast and very
                                            helpful.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Lenal10</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Code Quality</span></p>
                                        <p class="text">Great item, works perfectly as promised.I had a little problem
                                            (caused by
                                            me)
                                            and their costumer support helped me to fix the issue it in no time.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Muoltudeandra</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Customer Support</span></p>
                                        <p class="text">Very nice template. Provides many demo pages allowing easy &
                                            quick
                                            customization. Thank you also for the great support.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> James_85</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span> Customizability</span></p>
                                        <p class="text">Great template! Beautiful design. Everything works great. The
                                            template is
                                            Beautiful, Customizable & Fantastic User Experience. Support is amazing:
                                            fast and very
                                            helpful.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Lenal10</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Code Quality</span></p>
                                        <p class="text">Great item, works perfectly as promised.I had a little problem
                                            (caused by
                                            me)
                                            and their costumer support helped me to fix the issue it in no time.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Muoltudeandra</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Customer Support</span></p>
                                        <p class="text">Very nice template. Provides many demo pages allowing easy &
                                            quick
                                            customization. Thank you also for the great support.</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> James_85</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-review-wrap">
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span> Customer Support</span></p>
                                        <p class="text">Not only the design is GREAT, but the support is magnificent.
                                        </p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> TedColbione</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Design Quality</span></p>
                                        <p class="text">Thank you very much either for the quality of the work.. which
                                            is very
                                            good.. or
                                            for the response to my message and the speed in solving what I asked..Good
                                            job..highly
                                            recommend..:)</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Mounirch13</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Code Quality</span></p>
                                        <p class="text">Excellent customer service! Got back right away and fixed my
                                            problem
                                            loading
                                            template!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Frankgstring</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span> Customer Support</span></p>
                                        <p class="text">Not only the design is GREAT, but the support is magnificent.
                                        </p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> TedColbione</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Design Quality</span></p>
                                        <p class="text">Thank you very much either for the quality of the work.. which
                                            is very
                                            good.. or
                                            for the response to my message and the speed in solving what I asked..Good
                                            job..highly
                                            recommend..:)</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Mounirch13</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="customer-review-style-1">
                                    <div class="content">
                                        <div class="rating-icon">
                                            <img src="assets/images/landing-page/icon-star.svg" alt="image">
                                        </div>
                                        <p class="content-title">for <span>Code Quality</span></p>
                                        <p class="text">Excellent customer service! Got back right away and fixed my
                                            problem
                                            loading
                                            template!</p>
                                        <div class="info">
                                            <h5 class="title"> <span>by</span> Frankgstring</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review area end -->

        <!-- Start Faq Area  -->
        <div class="faq-area section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="section-title-wrapper text-center section-title-space">
                            <span class="section-subtitle mb-10">ANY QUESTION</span>
                            <h2 class="section-title mb-15">Do you have any Question</h2>
                            <p class="description">Check out our FAQ section to see if we can help</p>
                        </div>
                    </div>
                </div>
                <div class="row gy-24 justify-content-between">
                    <div class="col-lg-7 col-sm-12 col-12">
                        <div class="demo-faq">
                            <div class="accordion-wrapper faq-style-3">
                                <div class="accordion" id="accordionExampleThree">
                                    <div class="accordion-item">
                                        <h6 class="accordion-header" id="headingNine">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseNine" aria-expanded="true"
                                                aria-controls="collapseNine">
                                                <span>Q1:</span> What is Tourigo? how does it work?</button>
                                        </h6>
                                        <div id="collapseNine" class="accordion-collapse collapse show"
                                            aria-labelledby="headingNine" data-bs-parent="#accordionExampleThree">
                                            <div class="accordion-body"> Tourigo is a ready-made layout for tour and
                                                travel websites, simplifying the process of creating and organizing your
                                                site's content. Utilize a well-documented codebase for seamless
                                                customization and updates. Opt for extensively documented code
                                                repositories to facilitate your customization efforts with ease.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h6 class="accordion-header" id="headingTen">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                                aria-expanded="false" aria-controls="collapseTen">
                                                <span>Q2:</span> Can I get free support?</button>
                                        </h6>
                                        <div id="collapseTen" class="accordion-collapse collapse"
                                            aria-labelledby="headingTen" data-bs-parent="#accordionExampleThree">
                                            <div class="accordion-body">We believe in fostering trust and building
                                                strong
                                                relationships with our customers. Providing complimentary support is our
                                                commitment to demonstrating that we stand behind our products and are
                                                dedicated
                                                to assisting you every step of the way on your journey with us.</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h6 class="accordion-header" id="headingEleven">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                                aria-expanded="false" aria-controls="collapseEleven">
                                                <span>Q3:</span> Can I change any Elements as I like?</button>
                                        </h6>
                                        <div id="collapseEleven" class="accordion-collapse collapse"
                                            aria-labelledby="headingEleven" data-bs-parent="#accordionExampleThree">
                                            <div class="accordion-body">You can customize elements as you like, but some
                                                limitations may apply to maintain functionality and integrity. Our goal
                                                is to
                                                provide flexibility to meet your needs.</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h6 class="accordion-header" id="headingTwelve">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
                                                aria-expanded="false" aria-controls="collapseTwelve">
                                                <span>Q4:</span> Do you have an online documentation?</button>
                                        </h6>
                                        <div id="collapseTwelve" class="accordion-collapse collapse"
                                            aria-labelledby="headingTwelve" data-bs-parent="#accordionExampleThree">
                                            <div class="accordion-body">Yes, you can find our online documentation on
                                                our
                                                website under the 'Documentation' or 'Help Center' section. It's
                                                user-friendly
                                                and organized for easy access to setup instructions, tutorials, and
                                                troubleshooting guides.</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h6 class="accordion-header" id="headingThirteen">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
                                                aria-expanded="false" aria-controls="collapseThirteen">
                                                <span>Q5:</span> Can I build a complete project with this
                                                template?</button>
                                        </h6>
                                        <div id="collapseThirteen" class="accordion-collapse collapse"
                                            aria-labelledby="headingThirteen" data-bs-parent="#accordionExampleThree">
                                            <div class="accordion-body">Yes, you can customize all elements to your
                                                liking and
                                                build your chosen website with ease.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 col-12">
                        <div class="row gy-24">
                            <div class="col-lg-12 col-md-6">
                                <div class="bd-landing-service">
                                    <div class="inner">
                                        <span class="inner-icon">
                                            <i class="icon-file_607674"></i>
                                        </span>
                                        <div class="content">
                                            <h4 class="title mb-10">Online Documentation</h4>
                                            <a href="source/documentation/index.html"
                                                class="bd-primary-btn btn-style has-arrow is-bg radius-60">
                                                <span class="bd-primary-btn-arrow arrow-right"><i
                                                        class="fa-regular fa-arrow-right"></i></span>
                                                <span class="bd-primary-btn-text">Documentation</span>
                                                <span class="bd-primary-btn-circle"></span>
                                                <span class="bd-primary-btn-arrow arrow-left"><i
                                                        class="fa-regular fa-arrow-right"></i></span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="bd-landing-service">
                                    <div class="inner">
                                        <span class="inner-icon">
                                            <i class="icon-support"></i>
                                        </span>
                                        <div class="content">
                                            <h4 class="title mb-10">Dedicated Support</h4>
                                            <a href="https://support.bdevs.net/"
                                                class="bd-primary-btn btn-style has-arrow is-bg radius-60">
                                                <span class="bd-primary-btn-arrow arrow-right"><i
                                                        class="fa-regular fa-arrow-right"></i></span>
                                                <span class="bd-primary-btn-text">Get Support</span>
                                                <span class="bd-primary-btn-circle"></span>
                                                <span class="bd-primary-btn-arrow arrow-left"><i
                                                        class="fa-regular fa-arrow-right"></i></span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Faq Area  -->

    </main>