@page
@model TravelWebProject.web.Pages.ResetPassword
@{
    ViewData["Title"] = "ResetPassword";
}

<main>
        <div class="pt-50"></div>

        <!-- forgot area start -->
        <section class="bd-forgot-area section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-5">
                        <div class="sign-form-wrapper text-center">
                            <h4 class="title mb-5">Reset Password</h4>
                            <p>Enter new password!</p>
                            <form class="form" method="post">
                                <input type="hidden" name="token" value="@Request.Query["token"]">
                                <div class="input-box mb-15">
                                    <input type="password" asp-for="Password" class="input" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="input-box mb-15">
                                    <input type="password" asp-for="ConfirmPassword" class="input" placeholder="Confirm Password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="sign-btn mb-20">
                                    <button type="submit" class="bd-primary-btn btn-style is-bg radius-60">
                                        <span class="bd-primary-btn-text">Continue</span>
                                        <span class="bd-primary-btn-circle"></span>
                                    </button>
                                </div>
                                @* Nếu email không có thì *@
                                @if(TempData["Message"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <p>@TempData["Message"]</p>
                                    </div>
                                } else {
                                    <div class="alert alert-info" role="alert">
                                        <p>Already have an account? <a href="/SignIn">Login</a></p>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- forgot area end -->

    </main>