@page
@model TravelWebProject.web.Pages.DestinationPage.IndexModel
@{
}
<main>
    <!-- breadcrumb area start -->
    <section class="bd-breadcrumb-area p-relative fix">
        <!-- breadcrumb background image -->
        <div class="bd-breadcrumb-bg" data-background="~/assets/images/bg/breadcrumb-bg.png"></div>
        <div class="bd-breadcrumb-wrapper p-relative">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Destinations</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a asp-page="/LandingPage"><i class="icon-home"></i>Tourigo</a></span>
                                    <span>Destinations</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- blog-grid area start -->
    <div class="bd-tour-grid-area section-space">
        <div class="container">
            <div class="row gy-24">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="trip-wrapper trip-style-one p-relative">
                        <div class="trip-thumb image-overly">
                            <a href="-details-right.html">destinations
                                <img src="~/assets/images/trip/trip-img-1.png"
                                     alt="image">
                            </a>
                        </div>
                        <div class="trip-tag">
                            <div class="trip-number">
                                <span><a href="destinations-details-right.html">3 Tour</a></span>
                            </div>
                            <div class="trip-location">
                                <span><a href="destinations-details-right.html">Italy</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="trip-wrapper trip-style-one p-relative">
                        <div class="trip-thumb image-overly">
                            <a href="destinations-details-right.html">
                                <img src="~/assets/images/trip/trip-img-2.png"
                                     alt="image">
                            </a>
                        </div>
                        <div class="trip-tag">
                            <div class="trip-number">
                                <span><a href="destinations-details-right.html">2 Tour</a></span>
                            </div>
                            <div class="trip-location">
                                <span><a href="destinations-details-right.html">France</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="trip-wrapper trip-style-one p-relative">
                        <div class="trip-thumb image-overly">
                            <a href="destinations-details-right.html">
                                <img src="~/assets/images/trip/trip-img-3.png"
                                     alt="image">
                            </a>
                        </div>
                        <div class="trip-tag">
                            <div class="trip-number">
                                <span><a href="destinations-details-right.html">5 Tour</a></span>
                            </div>
                            <div class="trip-location">
                                <span><a href="destinations-details-right.html">Turkey</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="trip-wrapper trip-style-one p-relative">
                        <div class="trip-thumb image-overly">
                            <a href="destinations-details-right.html">
                                <img src="~/assets/images/trip/trip-img-4.png"
                                     alt="image">
                            </a>
                        </div>
                        <div class="trip-tag">
                            <div class="trip-number">
                                <span><a href="destinations-details-right.html">4 Tour</a></span>
                            </div>
                            <div class="trip-location">
                                <span><a href="destinations-details-right.html">Japan</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-24">
                        <div class="col-md-6">
                            <div class="trip-wrapper trip-style-one p-relative">
                                <div class="trip-thumb image-overly">
                                    <a href="destinations-details-right.html">
                                        <img src="~/assets/images/trip/trip-img-5.png" alt="image">
                                    </a>
                                </div>
                                <div class="trip-tag">
                                    <div class="trip-number">
                                        <span><a href="destinations-details-right.html">6 Tour</a></span>
                                    </div>
                                    <div class="trip-location">
                                        <span><a href="destinations-details-right.html">Greece</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="trip-wrapper trip-style-one p-relative">
                                <div class="trip-thumb image-overly">
                                    <a href="destinations-details-right.html">
                                        <img src="~/assets/images/trip/trip-img-6.png" alt="image">
                                    </a>
                                </div>
                                <div class="trip-tag">
                                    <div class="trip-number">
                                        <span><a href="destinations-details-right.html">2 Tour</a></span>
                                    </div>
                                    <div class="trip-location">
                                        <span><a href="destinations-details-right.html">India</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-grid area end -->

</main>