@page
@model TravelWebProject.web.Pages.PlanTours.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TourPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TourPlan.PlanId" class="control-label"></label>
                <input asp-for="TourPlan.PlanId" class="form-control" />
                <span asp-validation-for="TourPlan.PlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourPlan.TourId" class="control-label"></label>
                <select asp-for="TourPlan.TourId" class ="form-control" asp-items="ViewBag.TourId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TourPlan.Name" class="control-label"></label>
                <input asp-for="TourPlan.Name" class="form-control" />
                <span asp-validation-for="TourPlan.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourPlan.Description" class="control-label"></label>
                <input asp-for="TourPlan.Description" class="form-control" />
                <span asp-validation-for="TourPlan.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
