@page
@model FUCarRentingSystem.Pages.CustomerPage.LoginModel
@{
}

<form method="post">
    <input type="email" asp-for="Email" />
    <input type="password" asp-for="Password"/>
    <button type="submit">Login</button>
</form>
