@page
@model TravelWebProject.web.Pages.Tours.TourModel
@{
    ViewData["Title"] = "TourPage";
}
<main>
    <!-- breadcrumb area start -->
    <section class="bd-breadcrumb-area p-relative fix">
        <!-- breadcrumb background image -->
        <div class="bd-breadcrumb-bg" data-background="~/assets/images/bg/breadcrumb-bg.png"></div>
        <div class="bd-breadcrumb-wrapper p-relative">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Tour Details</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a href="index.html"><i class="icon-home"></i>Tourigo</a></span>
                                    <span>Tour Details</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- tour-details area start -->
    <section class="bd-tour-details-area section-space">
        <div class="container">
            <div class="row gy-24 justify-content-center">
                <div class="col-xxl-8 col-xl-8 col-lg-10">
                    <div class="tour-details-wrapper">
                        <div class="tour-details mb-25">
                            <div class="tour-details-slider details-slide p-relative mb-30">
                                <div class="swiper details-slide-activation">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="~/assets/images/tour/tour-img-9.png" alt="image">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="~/assets/images/tour/tour-img-10.png" alt="image">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="~/assets/images/tour/tour-img-11.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="details-slide-navigation btn-navigation">
                                    <button class="tourigo-navigation-prev">
                                        <i class="fa-regular fa-angle-left"></i>
                                    </button>
                                    <button class="tourigo-navigation-next">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="tour-details-content">
                                <div class="tour-details-badge d-flex gap--5 mb-10">
                                    <span class="bd-badge warning fw-5">Featured</span>
                                    <span class="bd-badge danger fw-5">15% Off</span>
                                </div>
                                <h3 class="tour-details-title mb-15">
                                    Ultimate Adventure Exploring Nature's
                                    Wonders
                                </h3>
                                <div class="tour-details-meta d-flex flex-wrap gap-10 align-items-center justify-content-between mb-20">
                                    <div class="tour-details-price">
                                        <h4 class="price-title">$189,25<span>/Per Person</span></h4>
                                    </div>
                                    <div class="tour-details-meta-right d-flex flex-wrap gap-10 align-items-center justify-content-between">
                                        <div class="rating-badge border-badge">
                                            <span>
                                                <i class="icon-star"></i>4.4
                                            </span>
                                        </div>
                                        <div class="theme-social">
                                            <a href="#"><i class="icon-facebook"></i></a>
                                            <a href="#"><i class="icon-twitter-x"></i></a>
                                            <a href="#"><i class="icon-linkedin"></i></a>
                                            <a href="#"><i class="icon-youtube"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour-details-destination-wrapper">
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="fa-light fa-clock"></i></span>
                                        </div>
                                        <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Duration</p>
                                            <span class="tour-details-destination-info-bottom small">
                                                3 Days 2
                                                Night
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="icon-hourglass"></i></span>
                                        </div>
                                        <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Min Age</p>
                                            <span class="tour-details-destination-info-bottom small">
                                                10
                                                Years+
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="fa-sharp fa-light fa-moped"></i></span>
                                        </div>
                                        <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Tour Type</p>
                                            <span class="tour-details-destination-info-bottom small">
                                                Adventure,
                                                Foodie
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="fa-light fa-location-dot"></i></span>
                                        </div>
                                        <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Location</p>
                                            <span class="tour-details-destination-info-bottom">
                                                Brasov,
                                                Romania
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-15">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
                                    mi.
                                    Aliquam in
                                    hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
                                    consectetur,
                                    ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet aug
                                    Vestibulum auctor
                                    ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at
                                    maximus
                                    ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. We are a
                                    team of
                                    the dedicated patent professionals, united commitment toour excellence patent
                                    protection.
                                </p>
                                <p class="mb-20">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
                                    mi.
                                    Aliquam hendrerit
                                    urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                                    ultrices Maecenas
                                </p>

                                <div class="tour-details-list-wrap mb-35">
                                    <h4 class="mb-20">Include/ Exclude</h4>
                                    <div class="tour-details-list-box">
                                        <div class="tour-details-list-include">
                                            <ul>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Accommodations
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Meals
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Transportation
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Activities
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Guides
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tour-details-list-exclude">
                                            <ul>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Airfare
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Additional Meals
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Optional Activities
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Travel Insurance
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Personal Expenses
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="tour-details-faq mb-35">
                                    <h4 class="mb-20">Tour Plan</h4>
                                    <div class="accordion-wrapper faq-style-3">
                                        <div class="accordion" id="accordionExampleThree">
                                            <div class="accordion-item">
                                                <h6 class="accordion-header" id="headingNine">
                                                    <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                                            aria-expanded="true" aria-controls="collapseNine">
                                                        <span>Day 01:</span> Arrival and Exploration
                                                    </button>
                                                </h6>
                                                <div id="collapseNine" class="accordion-collapse collapse show"
                                                     aria-labelledby="headingNine"
                                                     data-bs-parent="#accordionExampleThree">
                                                    <div class="accordion-body">
                                                        Arrive at your destination and
                                                        check into your accommodation. Lorem ipsum dolor sit
                                                        amet consectetur adipiscing elit Ut et massa mi. Aliquam
                                                        hendrerit urna. Pellentesque sit amet sapien fringilla,
                                                        mattis ligula consectetur, ultrices Maecenas. We are a
                                                        team of the dedicated patent professionals.
                                                        <div class="accordion-body-list">
                                                            <ul>
                                                                <li>Morning: Arrival and Check-in</li>
                                                                <li>Afternoon: City Tour or Landmarks Visit</li>
                                                                <li>Evening: Local Cuisine Experience</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h6 class="accordion-header" id="headingTen">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                                            aria-expanded="false" aria-controls="collapseTen">
                                                        <span>Day 02:</span> Adventure and Activities
                                                    </button>
                                                </h6>
                                                <div id="collapseTen" class="accordion-collapse collapse"
                                                     aria-labelledby="headingTen"
                                                     data-bs-parent="#accordionExampleThree">
                                                    <div class="accordion-body">
                                                        Arrive at your destination and
                                                        check into your accommodation. Lorem ipsum dolor sit
                                                        amet consectetur adipiscing elit Ut et massa mi. Aliquam
                                                        hendrerit urna. Pellentesque sit amet sapien fringilla,
                                                        mattis ligula consectetur, ultrices Maecenas. We are a
                                                        team of the dedicated patent professionals.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h6 class="accordion-header" id="headingEleven">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                                            aria-expanded="false" aria-controls="collapseEleven">
                                                        <span>Day 03:</span> Day Trip or Excursion
                                                    </button>
                                                </h6>
                                                <div id="collapseEleven" class="accordion-collapse collapse"
                                                     aria-labelledby="headingEleven"
                                                     data-bs-parent="#accordionExampleThree">
                                                    <div class="accordion-body">
                                                        Arrive at your destination and
                                                        check into your accommodation. Lorem ipsum dolor sit
                                                        amet consectetur adipiscing elit Ut et massa mi. Aliquam
                                                        hendrerit urna. Pellentesque sit amet sapien fringilla,
                                                        mattis ligula consectetur, ultrices Maecenas. We are a
                                                        team of the dedicated patent professionals.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h6 class="accordion-header" id="headingTwelve">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
                                                            aria-expanded="false" aria-controls="collapseTwelve">
                                                        <span>Day 04:</span> Culmination and Departure
                                                    </button>
                                                </h6>
                                                <div id="collapseTwelve" class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwelve"
                                                     data-bs-parent="#accordionExampleThree">
                                                    <div class="accordion-body">
                                                        Arrive at your destination and
                                                        check into your accommodation. Lorem ipsum dolor sit
                                                        amet consectetur adipiscing elit Ut et massa mi. Aliquam
                                                        hendrerit urna. Pellentesque sit amet sapien fringilla,
                                                        mattis ligula consectetur, ultrices Maecenas. We are a
                                                        team of the dedicated patent professionals.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tour-details-gallery mb-35">
                                    <h4 class="mb-20">Tour Galley</h4>
                                    <div class="row gy-24">
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="tour-details-gallery-thumb image-hover-effect-two position-relative">
                                                <img src="~/assets/images/tour/tour-img-21.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="row gy-24">
                                                <div class="col-xxl-12">
                                                    <div class="tour-details-gallery-thumb image-hover-effect-two position-relative">
                                                        <img src="~/assets/images/tour/tour-img-22.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="col-xxl-12">
                                                    <div class="tour-details-gallery-thumb image-hover-effect-two position-relative">
                                                        <img src="~/assets/images/tour/tour-img-9.png" alt="image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour-details-location mb-35">
                                    <h4 class="mb-20">Tour Location</h4>
                                    <div class="tour-details-location-map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89245.36062680863!2d25.596462799999998!3d45.652478099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b862aa214f1%3A0x6cf5f2ef54391e0f!2sBra%C8%99ov%2C%20Romania!5e0!3m2!1sen!2sbd!4v1707640089632!5m2!1sen!2sbd"
                                                allowfullscreen="" loading="lazy"
                                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                                <div class="tour-details-related-tour mb-35">
                                    <h4 class="mb-20">Related Tour</h4>
                                    <div class="row gy-24">
                                        <div class="col-xxl-6 col-xl-6 col-md-6">
                                            <div class="tour-wrapper style-one">
                                                <div class="p-relative">
                                                    <div class="tour-thumb image-overly">
                                                        <a href="tour-details.html">
                                                            <img src="~/assets/images/tour/tour-img-11.png"
                                                                 alt="image">
                                                        </a>
                                                    </div>
                                                    <div class="tour-meta d-flex align-items-center justify-content-between">
                                                        <button class="tour-favorite tour-like">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="tour-location">
                                                            <span>
                                                                <a href="tour-details.html">
                                                                    <i class="fa-regular fa-location-dot"></i>
                                                                    Matera, Italy
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tour-content">
                                                    <div class="tour-rating d-flex align-items-center gap-10 mb-10">
                                                        <div class="tour-rating-icon fs-14 d-flex rating-color">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </div>
                                                        <div class="tour-rating-text">
                                                            <span>4.8 (320 Ratings)</span>
                                                        </div>
                                                    </div>
                                                    <h5 class="tour-title fw-5 underline mb-5">
                                                        <a href="tour-details.html">
                                                            City Explorer Icons, History,
                                                            and Urban Charm
                                                        </a>
                                                    </h5>
                                                    <span class="tour-price b3">$189,25</span>
                                                    <div class="tour-divider"></div>

                                                    <div class="tour-meta d-flex align-items-center justify-content-between">
                                                        <div class="time d-flex align-items-center gap--5">
                                                            <i class="icon-heart"></i>
                                                            <span>4 days</span>
                                                        </div>
                                                        <div class="tour-btn">
                                                            <a class="bd-text-btn style-two"
                                                               href="booking.html">
                                                                Book Now
                                                                <span class="icon__box">
                                                                    <i class="fa-regular fa-arrow-right-long icon__first"></i>
                                                                    <i class="fa-regular fa-arrow-right-long icon__second"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-xl-6 col-md-6">
                                            <div class="tour-wrapper style-one">
                                                <div class="p-relative">
                                                    <div class="tour-thumb image-overly">
                                                        <a href="tour-details.html">
                                                            <img src="~/assets/images/tour/tour-img-12.png"
                                                                 alt="image">
                                                        </a>
                                                    </div>
                                                    <div class="tour-meta d-flex align-items-center justify-content-between">
                                                        <button class="tour-favorite tour-like">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="tour-location">
                                                            <span>
                                                                <a href="tour-details.html">
                                                                    <i class="fa-regular fa-location-dot"></i>
                                                                    Matera, Italy
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tour-content">
                                                    <div class="tour-rating d-flex align-items-center gap-10 mb-10">
                                                        <div class="tour-rating-icon fs-14 d-flex rating-color">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </div>
                                                        <div class="tour-rating-text">
                                                            <span>4.8 (320 Ratings)</span>
                                                        </div>
                                                    </div>
                                                    <h5 class="tour-title fw-5 underline mb-5">
                                                        <a href="tour-details.html">
                                                            City Explorer Icons, History,
                                                            and Urban Charm
                                                        </a>
                                                    </h5>
                                                    <span class="tour-price b3">$189,25</span>
                                                    <div class="tour-divider"></div>

                                                    <div class="tour-meta d-flex align-items-center justify-content-between">
                                                        <div class="time d-flex align-items-center gap--5">
                                                            <i class="icon-heart"></i>
                                                            <span>4 days</span>
                                                        </div>
                                                        <div class="tour-btn">
                                                            <a class="bd-text-btn style-two"
                                                               href="booking.html">
                                                                Book Now
                                                                <span class="icon__box">
                                                                    <i class="fa-regular fa-arrow-right-long icon__first"></i>
                                                                    <i class="fa-regular fa-arrow-right-long icon__second"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour-details-rating-wrapper mb-35">
                                    <div class="row gy-24 align-items-center justify-content-between">
                                        <div class="col-lg-5 col-md-3 col-sm-4">
                                            <div class="rating-box">
                                                <div class="inner">
                                                    <div class="rating-number">5.0</div>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                    </div>
                                                    <span class="sub-title">(234 Review)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-8 col-sm-7">
                                            <div class="review-wrapper">
                                                <div class="single-progress-bar">
                                                    <div class="rating-text">5</div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-1" role="progressbar"
                                                             style="width: 82%" aria-valuenow="63" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <span class="value-text">82%</span>
                                                    <span class="number">212</span>
                                                </div>
                                                <div class="single-progress-bar">
                                                    <div class="rating-text">4</div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-2" role="progressbar"
                                                             style="width: 8%" aria-valuenow="29" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <span class="value-text">8%</span>
                                                    <span class="number">09</span>
                                                </div>
                                                <div class="single-progress-bar">
                                                    <div class="rating-text">3</div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-3" role="progressbar"
                                                             style="width: 3%" aria-valuenow="6" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <span class="value-text">3%</span>
                                                    <span class="number">02</span>
                                                </div>

                                                <div class="single-progress-bar">
                                                    <div class="rating-text">2</div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-4" role="progressbar"
                                                             style="width: 2%" aria-valuenow="1" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <span class="value-text">2%</span>
                                                    <span class="number">01</span>
                                                </div>
                                                <div class="single-progress-bar">
                                                    <div class="rating-text">1</div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-5" role="progressbar"
                                                             style="width: 7%" aria-valuenow="1" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <span class="value-text">7%</span>
                                                    <span class="number">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour-details-rating-wrapper">
                                    <div class="rewiew-content">
                                        <div class="tour-review-wrapper">
                                            <div class="media">
                                                <div class="thumbnail">
                                                    <a href="#">
                                                        <img src="~/assets/images/client/05.png" alt="Author Images">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="author-info">
                                                        <h5 class="title">
                                                            <a class="hover-flip-item-wrapper" href="#">
                                                                Mason Rodriguez
                                                            </a>
                                                            <a href="#">
                                                                <i class="fa-solid fa-thumbs-up"></i>
                                                            </a>
                                                        </h5>
                                                        <ul class="bd-meta">
                                                            <li class="has-seperator">
                                                                On: <span>Aug 11, 2023</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="content">
                                                        <p class="description">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipiscing elit Ut massa mi. Aliquam in
                                                            hendrerit urna. Pellentesque.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tour-review-wrapper">
                                            <div class="media">
                                                <div class="thumbnail">
                                                    <a href="#">
                                                        <img src="~/assets/images/client/01.png" alt="Author Images">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="author-info">
                                                        <h5 class="title">
                                                            <a class="hover-flip-item-wrapper" href="#">
                                                                Madison Turner
                                                            </a>
                                                            <a href="#">
                                                                <i class="fa-solid fa-thumbs-up"></i>
                                                            </a>
                                                        </h5>
                                                        <ul class="bd-meta">
                                                            <li class="has-seperator">
                                                                On: <span>Aug 11, 2023</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="content">
                                                        <p class="description">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipiscing elit Ut massa mi. Aliquam in
                                                            hendrerit urna. Pellentesque.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tour-review-wrapper">
                                            <div class="media">
                                                <div class="thumbnail">
                                                    <a href="#">
                                                        <img src="~/assets/images/client/03.png" alt="Author Images">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="author-info">
                                                        <h5 class="title">
                                                            <a class="hover-flip-item-wrapper" href="#">
                                                                Ethan Mitchell
                                                            </a>
                                                            <a href="#">
                                                                <i class="fa-solid fa-thumbs-up"></i>
                                                            </a>
                                                        </h5>
                                                        <ul class="bd-meta">
                                                            <li class="has-seperator">
                                                                On: <span>Aug 11, 2023</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="content">
                                                        <p class="description">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipiscing elit Ut massa mi. Aliquam in
                                                            hendrerit urna. Pellentesque.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
